[submodule "contrib/greptimedb-client-cpp"]
	path = contrib/greptimedb-client-cpp
	url = https://github.com/GreptimeTeam/greptimedb-client-cpp.git
[submodule "contrib/json"]
	path = contrib/json
	url = https://github.com/nlohmann/json.git
[submodule "contrib/cpp-httplib"]
	path = contrib/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
